{% extends 'blog_base.html' %}
{% load  staticfiles %}
{% block title %}
    {{ post.title }}
{% endblock title %}

{% block body_class %}
    class="single-post"
{% endblock body_class %}

{% block body_content %}
    <div class="inner">
        <!-- Post -->
        <article class="post">
            {% if post.picture %}
                {% load staticfiles %}
                <div class="post-media">
                    <a href="#" class="thumbnail"><img src="/{{ post.picture }}" alt=""></a>
                </div>

            {% endif %}
            <footer class="post-meta">
                Posted {{ post.date|date:"d M y" }} by <a href="#">{{ post.author.first_name }} {{ post.author.last_name }}</a>             </footer>
            <h1>{{ post.title }}</h1>
            {{ post.content }}
        </article>

        <!-- Post Author -->
        <section class="post-author">
            <img src="/{{ post.author.userprofile.avatar }}" alt="" class="thumbnail">

            <div class="author-profile">
                <h4>Author: {{ post.author.first_name }} {{ post.author.last_name }}</h4>


            </div>
        </section>

        <!-- Comments Section -->
        <section id="comments" class="comment-area">



            <h2 class="comments-title"> Comments</h2>

            <ol class="commentlist">


                <script>
                    $(document).ready(function () {
                        $( ".reply" ).click(function() {
                            $(this).next().slideToggle(200);
                        });
                    });
                </script>
                {% for comment in comments %}

                    <li class="comment">
                        <article class="comment">
                            <header class="comment-meta comment-author vcard">

                                <cite class="fn"><a href="#" class="url">{{ comment.author.first_name }}</a></cite>
                                <time datetime="2012-11-13">{{ comment.date|date:"d M y H:i" }}</time>
                            </header>
                            <section class="comment-content comment">
                                <p>{{ comment.content }}</p>
                            </section>
                            <div class="reply" title="Reply to this comment!" id="reply"></div>
                            <div id="respond-comment" style="display: none">
                                <form action="{% url "sub_comment_add" comment.id %}?next={{ request.path }}" id="commentform" method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                    <input type="submit" value="Submit comment" class="btn btn-large">
                                </form>
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ol>
        </section>

        <!-- Comments Form -->
        <section id="respond">
            <span class="arrow"></span>

            <h2 id="reply-title">Submit a Comment</h2>


            <form action="#" id="commentform" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit comment" class="btn btn-large">
            </form>
        </section>

    </div>
{% endblock body_content %}