{% extends 'base.html' %}

{% block title %}
    Single Post
{% endblock title %}

{% block body_content %}
    <section id="content" class="span9">
        <div class="inner">

            <!-- Post -->
            <article class="post">
                <div class="post-media">
                    <a href="#" class="thumbnail"><img src="assets/img/pictures/636x237.gif" alt=""></a>
                </div>
                <footer class="post-meta">
                    Posted 12 May 2012 by <a href="#">Mahdi Mohammadian</a> in category <a href="#">Research</a>
                    <a href="#" class="comments-count">4</a>
                </footer>
                <h1>The Basic Principles of Interface Design</h1>

                <h3>What is User interface design? How does it actually work? Jason Donovan answers all the questions in
                    this post. Share your comments!</h3>

                <p>User interface design or user interface engineering is the design of computers, appliances, machines,
                    mobile communication devices, software applications, and websites with the focus on the user's
                    experience and interaction. The goal of user interface design is to make the user's interaction as
                    simple and efficient as possible, in terms of accomplishing user goals—what is often called
                    user-centered design.</p>
                <h4>What makes a good interface?</h4>

                <p>Good user interface design facilitates finishing the task at hand without drawing unnecessary
                    attention to itself. <strong>Graphic design may be utilized to support its usability</strong>. The
                    design process must balance technical functionality and visual elements (e.g., mental model) to
                    create a system that is not only operational but also usable and adaptable to changing user needs.
                </p>

                <p>Interface design is involved in a wide range of projects from computer systems, to cars, to
                    commercial planes; all of these projects involve much of the same basic human interactions yet also
                    require some unique skills and knowledge. As a result, <strong>designers tend to specialize</strong>
                    in certain types of projects and have skills centered around their expertise, whether that be <a
                            href="#">software design</a>, user research, web design, or industrial design.</p>

                <p>There are several phases and processes in the user interface design, some of which are more demanded
                    upon than others, depending on the project. (Note: for the remainder of this section, the word
                    system is used to denote any project whether it is a web site, application, or device.)</p>
                <blockquote>Good user interface design facilitates finishing the task at hand without drawing
                    unnecessary attention to itself&hellip;</blockquote>
                <div class="wp-caption alignleft">
                    <a href="#" class="thumbnail"><img src="assets/img/pictures/282x238.gif" alt=""></a>

                    <p class="wp-caption-text">Here is a photo caption</p>
                </div>
                <h4>What is it all about?</h4>

                <p>Good user interface design facilitates finishing the task at hand without drawing unnecessary
                    attention to itself. <strong>Graphic design may be utilized to support its usability.</strong> The
                    design process must balance technical functionality and visual elements (e.g., mental model) to
                    create a system that is not only operational but also usable and adaptable to changing user needs.
                </p>

                <div class="clearfix"></div>
                <br>

                <p>User interface design or user interface engineering is the design of computers, appliances, machines,
                    mobile communication devices, software applications, and websites with the focus on the user's
                    experience and interaction. The goal of user interface design is to make the user's interaction as
                    simple and efficient as possible, in terms of accomplishing user goals—what is often called
                    user-centered design.The design process must balance technical functionality and visual elements
                    (e.g., mental model) to create a system that is not only operational but also usable and adaptable
                    to changing user needs.</p>
            </article>

            <!-- Post Author -->
            <section class="post-author">
                <img src="assets/img/pictures/70x70.gif" alt="" class="thumbnail">

                <div class="author-profile">
                    <h4>Author: <a href="#">JohnPixle</a></h4>

                    <p>Good user interface design facilitates finishing the task at hand without drawing unnecessary
                        attention to itself. Graphic design may be utilized to support its usability.</p>
                    <address>
                        <a href="#" class="btn btn-small">Visit website</a>
                        <a href="#" class="btn btn-small">View more posts</a>
                        <nav>
                            <ul>
                                <li><a href="#"><img src="assets/img/social/twitter-small.png" alt="Twitter"></a></li>
                                <li><a href="#"><img src="assets/img/social/facebook-small.png" alt="Facebook"></a></li>
                            </ul>
                        </nav>
                    </address>
                </div>
            </section>

            <!-- Comments Section -->
            <section id="comments" class="comment-area">

                <a href="#" class="btn btn-large">Submit a comment</a>

                <h2 class="comments-title">4 Comments</h2>

                <ol class="commentlist">

                    <!-- Comment -->
                    <li class="comment">
                        <article class="comment">
                            <header class="comment-meta comment-author vcard">
                                <img src="assets/img/pictures/50x50.gif" alt="" class="avatar thumbnail">
                                <cite class="fn"><a href="#" class="url">PandoraBox</a></cite>
                                <a href="#">
                                    <time datetime="2012-11-13">5 days ago</time>
                                </a>
                                <strong class="author-sign">author</strong>
                            </header>
                            <section class="comment-content comment">
                                <p>The Mouse did not notice this question, but hurriedly went on, &mdash; found it
                                    advisable to go with Edgar Atheling to meet William and offer him the crown.
                                    William's conduct at first was not moderate.</p>
                            </section>
                            <div class="reply" title="Reply to this comment!"></div>
                        </article>
                    </li>

                    <!-- Comment -->
                    <li class="comment">
                        <article class="comment sub-comment">
                            <header class="comment-meta comment-author vcard">
                                <img src="assets/img/pictures/50x50.gif" alt="" class="avatar thumbnail">
                                <cite class="fn"><a href="#" class="url">ElysuimFields</a></cite>
                                <a href="#">
                                    <time datetime="2012-11-13">2 days ago</time>
                                </a>
                            </header>
                            <section class="comment-content comment">
                                <p>The Mouse did not notice this question, but hurriedly went on, &mdash; found it
                                    advisable to go with Edgar Atheling to meet William and offer him the crown.
                                    William's conduct at first was not moderate.</p>
                            </section>
                            <div class="reply" title="Reply to this comment!"></div>
                        </article>
                    </li>

                    <!-- Comment -->
                    <li class="comment">
                        <article class="comment">
                            <header class="comment-meta comment-author vcard">
                                <img src="assets/img/pictures/50x50.gif" alt="" class="avatar thumbnail">
                                <cite class="fn"><a href="#" class="url">PandoraBox</a></cite>
                                <a href="#">
                                    <time datetime="2012-11-13">3 hours ago</time>
                                </a>
                            </header>
                            <section class="comment-content comment">
                                <p>The Mouse did not notice this question, but hurriedly went on, &mdash; found it
                                    advisable to go with Edgar Atheling to meet William and offer him the crown.
                                    William's conduct at first was not moderate.</p>
                            </section>
                            <div class="reply" title="Reply to this comment!"></div>
                        </article>
                    </li>

                    <!-- Comment -->
                    <li class="comment">
                        <article class="comment">
                            <header class="comment-meta comment-author vcard">
                                <img src="assets/img/pictures/50x50.gif" alt="" class="avatar thumbnail">
                                <cite class="fn"><a href="#" class="url">PandoraBox</a></cite>
                                <a href="#">
                                    <time datetime="2012-11-13">5 minutes ago</time>
                                </a>
                            </header>
                            <section class="comment-content comment">
                                <p>The Mouse did not notice this question, but hurriedly went on, &mdash; found it
                                    advisable to go with Edgar Atheling to meet William and offer him the crown.
                                    William's conduct at first was not moderate.</p>
                            </section>
                            <div class="reply" title="Reply to this comment!"></div>
                        </article>
                    </li>

                </ol>
            </section>

            <!-- Comments Form -->
            <section id="respond">
                <span class="arrow"></span>

                <h2 id="reply-title">Submit a Comment</h2>

                <p>We would love to hear your thoughts. Feel free to submit a comment and join the conversation!</p>

                <form action="#" id="commentform">
                    <fieldset class="pull-left"><input type="text" placeholder="Name"></fieldset>
                    <fieldset><input type="text" placeholder="Email"></fieldset>
                    <fieldset><textarea placeholder="Comment"></textarea></fieldset>
                    <input type="submit" value="Submit comment" class="btn btn-large">
                </form>
            </section>

        </div>
    </section><!-- #content -->


{% endblock body_content %}