{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en" class="no-js">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog">
    <meta name="author" content="Ali Ünsal">
    <title>Blog | {% block title %}{% endblock title %}</title>

    <link href="{% static "Blogs/css/bootstrap.css" %}" rel="stylesheet">

    <link href="{% static "Blogs/css/style.css" %}" rel="stylesheet">
    <script src="{% static "Blogs/js/modernizr.custom.js" %}"></script>
    <!-- Jquery -->
    <script src="{% static "Blogs/js/jquery.js" %}"></script>

    <script src="{% static "Blogs/js/jquery.mobilemenu.js" %}"></script>
    <script src="{% static "Blogs/js/jquery.tweet.js" %}"></script>
    <script src="{% static "Blogs/js/jquery.masonry.min.js" %}"></script>
    <script src="{% static "Blogs/js/superfish.js" %}"></script>
    <script src="{% static "Blogs/js/main.js" %}"></script>
</head>
<body {% block body_class %} {% endblock body_class %}>
<header id="header">
    <div class="container">
        <a href="#" id="logo"><img src="{% static "Blogs/img/logo.png" %}" alt=""></a>
        <nav id="main-navigation">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>

            </ul>
        </nav>
    </div>
</header>

<section id="body">
    <div class="container">
        <div class="row">
            <section id="content" class="span9">
                {% block body_content %}

                {% endblock body_content %}
            </section>
        </div>

    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">

            <!-- Widget -->


            <!-- Widget -->

        </div>
    </div>
    <!-- Copyright -->
    <div id="copyright">
        <div class="container">

            <span>Copyright 2014 - Simplog</span>
        </div>
    </div>
</footer>
</body>
</html>