{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{% static "Users/plugins/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "Users/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "Users/plugins/uniform/css/uniform.default.min.css" %}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="{% static "Users/css/style-metronic.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "Users/css/style.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "Users/css/style-responsive.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "Users/css/plugins.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "Users/css/themes/grey.css" %} " rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{% static "Users/css/custom.css" %}" rel="stylesheet" type="text/css"/>
    {% block plugin_top %}

    {% endblock plugin_top %}
    <!-- END THEME STYLES -->
    <title></title>
</head>

<body class="page-header-fixed">
<!-- BEGIN HEADER -->

<!-- END HEADER -->


<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<ul class="page-sidebar-menu">
				<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler hidden-phone">
					</div>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				</li>

				<li class="start">
					<a href="{% url "user_post_list" %}">
					<i class="fa fa-thumb-tack"></i>
					<span class="title">
						Post
					</span>
					<span class="selected">
					</span>
					</a>
				</li>
				<li class="">
					<a href="{% url "user_profile" %}">
					<i class="fa fa-user"></i>
					<span class="title">
						Profile
					</span>
					<span class="selected">
					</span>
					</a>
				</li>
				<li class="last ">
					<a href="{% url "user_logout" %}">
					<i class="fa fa-sign-out"></i>
					<span class="title">
						Logout
					</span>
					</a>
				</li>
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
        <div class="page-content">
            {% block user_page_content %}

            {% endblock user_page_content %}
        </div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="footer">
	<div class="footer-inner">

	</div>
	<div class="footer-tools">
		<span class="go-top">
			<i class="fa fa-angle-up"></i>
		</span>
	</div>
</div>
<!-- END FOOTER -->
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="assets/plugins/respond.min.js"></script>
<script src="assets/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="{% static "Users/plugins/jquery-1.10.2.min.js" %}" type="text/javascript"></script>
<script src="{% static "Users/plugins/jquery-migrate-1.2.1.min.js" %}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{% static "Users/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" %}" type="text/javascript"></script>
<script src="{% static "Users/plugins/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
<script src="{% static "Users/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" %}" type="text/javascript"></script>
<script src="{% static "Users//plugins/jquery-slimscroll/jquery.slimscroll.min.js"%}" type="text/javascript"></script>
<script src="{% static "Users/plugins/jquery.blockui.min.js" %}" type="text/javascript"></script>
<script src="{% static "Users/plugins/jquery.cokie.min.js" %}"  type="text/javascript"></script>
<script src="{% static "Users/plugins/uniform/jquery.uniform.min.js" %}" type="text/javascript"></script>
{% block plugin %}
{% endblock plugin %}
<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static "Users/js/app.js" %}" type="text/javascript"></script>
<script src="{% static "Users/js/index.js" %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {
   App.init(); // initlayout and core plugins
   Index.init();
   {% block jqinit %}
   {% endblock jqinit %}

});
</script>
</body>

</html>
